<div class="flex min-h-screen">
    <!-- Sidebar -->
    <div class="w-52 bg-black text-zinc-300  flex flex-col">
      <div class="p-4 text-2xl font-bold text-center">
        Menú
      </div>
      <nav class="flex-grow p-4">
        <a routerLink="/home" routerLinkActive="bg-blue-500"  class="font-bold block py-2 px-4 rounded hover:bg-gray-100 text-center">
          Home
        </a>
        <a routerLink="/about" routerLinkActive="bg-blue-500" class="font-bold block py-2 px-4 rounded hover:bg-gray-100 text-center">
          Pokemon
        </a>
        <a routerLink="/contact" routerLinkActive="bg-blue-500" class="font-bold block py-2 px-4 rounded hover:bg-gray-100 text-center">
          Contact
        </a>
      </nav>
    </div>
  
  
  
  
